@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.wrapper{
  max-width: 450px;
}

div {
  position: relative;
  z-index: 2;
}

.footer {
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

#quote-box {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;

 

  border-radius: 3px;
  position: relative;
  margin:8% auto auto auto;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  max-width: 700px;

  @media (max-width: 992px) {
    padding: 40px 20px;
    max-width: 450px;
  }

  @media (max-width: 767px) {
    max-width: 350px;
  }

  @media (max-width: 360px) {
    max-width: 300px;
  }
  .quote-text {
    i {
      font-size: 1em;
      margin-right: 0.4em;
      margin-left: 0.4em;
      
    }
    text-align: center;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;

    @media (max-width:992px) {
      font-size: 1.5em;
    }
    @media (max-width: 767px) {
      font-size: 1.2em;
    }
  
    @media (max-width: 360px) {
      font-size: 1em;
    }
  }
  .quote-author {
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
  }
  .buttons {
    margin: auto;
    display: block;
    .button {
      height: 38px;
      border: none;
      border-radius: 3px;
      color: #fff;
      background-color: #333;
      outline: none;
      font-size: 0.85em;
      padding: 8px 18px 6px 18px;
      margin-top: 30px;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &#tweet-quote,
      &#tumblr-quote {
        float: left;
        padding-left: 14px;
        padding-top: 8px;
        text-align: center;
        font-size: 1em;
        margin-right: 5px;
        height: 38px;
        width: 40px;
      }
      &#new-quote {
        float: right;
      }
    }
  }
}
