@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.CV {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  max-width: 800px;
  height: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width:820px){
      height: auto;
      display: inline;
      max-width: 100%;
      margin: 0px;
      padding: 0px 15px;
  }
}

.resume .resume_left {
  width: 35%;
  background: #0bb5f4;

  @media (max-width: 820px) {
    width: auto;
  }
}
.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume .resume_left .resume_profile img {
  width: 75%;
  height: 75%;
  border-radius: 280px;
  @media (max-width: 820px) {
    width: auto;
  }
}

.resume .resume_left .resume_content {
  padding: 0 25px;


  @media (max-width: 820px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;

  @media (max-width: 820px) {
    display: flex;
    justify-content: center;
  }
}

.resume .resume_left .regular {
  color: #b1eaff;
  @media (max-width: 820px) {
    display: flex;
    justify-content: center;
  }
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}


.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}
.resume .resume_left ul{
  @media (max-width: 820px){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 510px){
    grid-template-columns: 1fr; 
  }
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;

  @media (max-width: 820px) {
    padding-left: 10px;
  }
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .resume_left ul li #CVMail{
  font-size: 0.9em;
}

.resume .icon i,
.resume .resume_right .resume_projects ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #b1eaff;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 100%;
  font-weight: 600;
}

.resume .resume_left .resume_skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 820px){
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
  @media (max-width: 510px){
    grid-template-columns: 1fr 1fr; 
  }
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_left .resume_social{
  @media (max-width: 820px) {
    border-bottom: 0px;
  }
}

.resume .resume_left .resume_hobby{
  @media (max-width: 820px) {
    display: none;
  }
}

.resume .resume_left .resume_hobby .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_left .resume_hobby ul li {
  padding-bottom: 12px;
}

.resume .resume_right {
  width: 65%;
  background: #fff;
  padding: 25px;

  @media (max-width: 820px) {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.resume .resume_right .bold {

  @media (max-width: 820px) {
    display: flex;
    justify-content: center;
  }
}

.text{
  text-indent: 0.5em;
}

.resume .resume_right .bold {
  color: #0bb5f4;
}

.resume .resume_right .hashtag{
  color: #0bb5f4;
  font-size: 15px;
}

.resume .resume_right .hashtag:hover{
  color: #008bbf;
  text-decoration: underline;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right .resume_projects ul li .info .semi-bold{
  display: flex;
  justify-content: center;
  color: #0bb5f4;
}

.resume .resume_right .resume_projects ul li .info .header_link {
  text-decoration: none;
}


.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #0bb5f4;
}

.resume .resume_right .resume_work ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 130px;
  background: #0bb5f4;
}
.resume .resume_right .resume_work ul li:nth-child(1)::after {
  @media (max-width: 314px){
    height: 152px;
  }
  @media (max-width: 312px){
    height: 175px;
  }
}

.resume .resume_right .resume_work ul li:nth-child(2)::after {
  @media (max-width: 479px){
    height: 152px;
  }
  @media (max-width: 350px){
    height: 175px;
  }
  @media (max-width: 291px){
    height: 197px;
  }
  @media (max-width: 254px){
    height: 218px;
  }
}

.resume .resume_right .resume_education ul li:after{
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 110px;
  background: #0bb5f4;
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}